.ms-gallery {
    position: relative;
}

.ms-gallery figure {
    border-radius: 6px;
    overflow: hidden;
}

.ms-gallery .figcaption {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px 24px;
    background-color: rgba(255,255,255, 0.8);
}

.ms-gallery .figcaption h6 {
    text-align: center;
    margin-bottom: 0;
}

.header-logo {
    height: 40px;
    width: auto;
    max-width: unset;
}

.footer-logo {
    height: 60px;
    width: auto;
    max-width: unset;
}